span{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: end;
}
span.sixtyninelogo{
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-weight: 800;
}

span.street{
    position: absolute;
    bottom: 5px;
    font-size: 15px;
    font-weight: 800;
    align-items: end;
}

span.bag_text{
    margin-left: 6px;
}
.search{
    border: none;
    background-color: #D9D9D9;
    border-radius: 30px;
    height: 35px;
    padding-left: 15px;
    
}
.bidicon{
    justify-content: center;
    display: inline-grid;
}
.listing{
    left: -3px;
}