    <div class="main_frame  p-5">
        <div class="bid_products row p-3 border  border-1 rounded-1">
            <div class="product_img col-3 border border-dark border-1 rounded-1"><img src="../../../assets/sneaker1.png"></div>
            <div class="buy_product d-flex justify-content-end col-9">
                <div class="product_detail d-grid">
                    <span class="product_name">Nike Air Max</span>
                    <span class="product_price">$69.00</span>
                    <span class="product_size">Size: S</span>
                    <div class="buy_btn btn btn-outline-dark rounded-1">Procced to Buy</div>
                </div>
            </div>
        </div>
    </div>