<div class="main_frame d-flex justify-content-center">
    <div class="sub_content py-4 d-grid justify-content-center">
        <div class="buttons" style="margin-bottom: 15px;">
            <div class="signup_btn btn  rounded-0 border-bottom border-3">Sign Up</div>
            <div class="login_btn btn rounded-0 border-bottom border-3">Log In</div>
        </div>
        <div class="user_details  row d-grid">
            <input type="text" placeholder="First name" style="margin-bottom: 5px;">
            <input type="text" placeholder="Last name" style="margin-bottom: 5px;">
            <input type="email" placeholder="Email" style="margin-bottom: 5px;">
            <input type="password" placeholder="Password" style="margin-bottom: 5px;">
        </div>
        <div class="signup btn btn-primary">Sign Up</div>
    </div>
</div>