<style>
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
<div class="main_frame d-flex">
    <div class="product col-6 d-grid p-5 w-50"><span class="product_tag">Nike Air Max 90<br>Last Bid-$69</span><img src="../../../assets/sneaker1.png" width="450px" height="450px"></div>
    <div class="sub_frame d-gridcol-6 d-grid justify-content-center align-items-center w-50 px-5">
        <div class="bidding_frame border border-2">
            <div class="currentbid_price border d-flex justify-content-center border-2 " ><span>Current Bid-$69</span></div>
            <div class="place_bid d-flex">
                <form class="" >
                    <input class="form-control" type="number" placeholder="Place Bid">
                </form>
            <div class="btn btn-outline-dark">Bid</div></div> 
        </div>    
    </div>
</div>