<style>
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
<div class="main_frame d-flex">
    <div  class="product col-6 d-grid p-5 w-50"><span class="product_tag">{{items.product_name}}<br>Last Bid-$69</span><img src={{items.image}} width="450px" height="450px"></div>
    <div class="sub_frame d-gridcol-6 d-grid justify-content-center align-items-center w-50 px-5">
        <div class="bidding_frame border  border-1 rounded-1">
            <div class="currentbid_price border border-dark border-1 rounded-1 d-flex justify-content-center " ><span>Current Bid-$69</span></div>
            <div class="place_bid  d-flex">
                <form class="bid_price_frame border border-dark rounded-1 border-1 " >
                    <input class="bid_price border border-0 form-control" type="number" placeholder="Place Bid">
                </form>
            <div class=" bid_btn btn rounded-1 btn-outline-dark">Bid</div></div>
            <hr>
            <div class="wrapper">
                <p class="targe-date">
                ENDS IN
                </p>
                    <div class="times d-flex row">
                        <p class="col-4 d-flex justify-content-end m-0" >{{hr}}</p>
                        <p class="col-4 d-flex justify-content-center m-0">{{min}}</p>
                        <p class="col-4 m-0">{{sec}}</p>
                      </div>
                      <div class="description d-flex row">
                          <p class="time_des d-flex justify-content-end  col-4">Hours</p>
                          <p class="time_des d-flex justify-content-center col-4">Minutes</p>
                          <p class="time_des col-4">Seconds</p>
                        </div>
              </div>
        </div>    
    </div>
</div>